:root {
  //--Colors
  --first-color: hsl(12, 32%, 22%);
  --first-color-alt: hsl(12, 42%, 12%);
  --first-color-light: hsl(12, 24%, 32%);
  --second-color: hsl(39, 62%, 65%);
  --title-color: hsl(12, 12%, 16%);
  --text-color: hsl(12, 12%, 32%);
  --text-color-light: hsl(12, 8%, 48%);
  //--Font
  --biggest-font-size: 2.75rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --header-height: 3.5rem;
  --border-section: 56px 56px 0 0;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}